name: node_js

on:
  push:
    branches:  [master]
  pull_request:
    branches:  [master]

jobs:
  build:
    name : test
    strategy:
      matrix:
        os : [ ubuntu-latest, macos-latest, windows-latest] 
        node-version: [lts/*]
        include:
             - name: Client
               env : PACKAGE_LOCATION=client
             - name : Server
               env: PACKAGE_LOCATION=server
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Build
        run: |
             $PACKAGE_LOCATION
             npm install
             npm run format
             npm run lint
             npm run build
             npm run test
